.test {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #003333;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-top-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #003333;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
}
.field{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	background-color: #CCCCCC;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
}
.textlink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	background-color: #003333;
	border-top-color: #FFFFFF;
}
